@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B);

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Estilos para o cabecalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 18px;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header h1 {
  font-size: 28px;
  align-items: center;
  display: flex;
  position: absolute justify-content center;
  margin-right: 60px;
}

#selected-status {
  padding: 5px;
  font-size: 12px;
}

.online {
  color: green;
}

.ausente {
  color: orange;
}

.offline {
  color: red;
}

.status select {
  padding: 5px;
  border-radius: 5px;
}

/* Estilo para barra de pesquisa*/
.search-friends {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 5px;
  right: 3.5%;
  background-color: #0a1b2d;
  height: 30px;
  padding: 10px;
  border-radius: 40px;
  justify-content: space-between;
}
.search-friends:hover > .search-txt {
  width: 180px;
  padding: 0 6px;
  transition: 0.5s;
}

.search-friends:hover > .search-btn {
  background-color: white;
  transition: 0.5s;
}
.search-txt {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  color: white;
  font-size: 12px;
  line-height: 40px;
  width: 0;
  font-family: "Open Sans";
  font-size: medium;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a1b2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-friends img {
  width: 20px;
  height: 20px;
}

::-webkit-input-placeholder {
  color: #1e3754;
}

/* Estilo para botão de adicionar amigos */
.add-friends {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#add-friends-btn {
  background: none; /* Remove o background padrão */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Adiciona o cursor de pointer ao passar o mouse */
  padding: 8px;
  border-radius: 50%; /* Torna o botão circular */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave para a cor de fundo */
}

#add-friends-btn:hover {
  background-color: rgba(
    3,
    91,
    255,
    0.2
  ); /* Muda a cor de fundo ao passar o mouse */
}

#add-friends-btn:hover i {
  color: #0365ff; /* Muda a cor do ícone ao passar o mouse */
}

/* Estilos para a lista de amigos */

#lista-amigos {
  display: flex;
  flex-direction: column;
}
/* Online */
.amigos-online h2 {
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.contador {
  margin-right: 1700px;
}

.amigo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.amigo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 12px;
}
.amigo-info {
  display: flex; /* Ativa o flexbox para o conteúdo das informações do amigo */
  flex-direction: column; /* Empilha as informações verticalmente */
  align-items: left;
}

/* Estilos para o nome dos amigos online */
.amigos-online .amigo-info h3 {
  display: flex;
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 3px;
}
/* Estilos para o jogando */
.amigos-online .amigo-info-jogo p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para a sala */
.amigos-online .amigo-info-sala p {
  display: flex;
}

/* Estilos para o nome dos amigos offline */
.amigos-offline .amigo-info h3 {
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 25px;
}

.amigo-info p {
  color: #666;
  padding-left: 5px;
}

.amigo-info p:nth-child(3) {
  /* Estilos para o jogo */
  font-size: 14px;
}

.amigo-info p:nth-child(4) {
  /* Estilos para o sala */
  font-size: 12px;
}

/* Oflline */
.amigos-offline h2 {
  position: relative;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

/* Estilo para o botão de remover amigo */

.btn-remover-amigo {
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  width: 120px;
  background-color: #ff0000;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  right: 60%;
  position: absolute;
}

.btn-remover-amigo:hover {
  background-color: #ca0c0c;
}

/* Estilo para o botão de entrar na sala */
.btn-entrar-sala {
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  width: 170px;
  background-color: #ff0000;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  right: 70%;
  text-align: center;
  position: absolute;
}

.btn-entrar-sala {
  background-color: #45a049; /* Cor verde */
}

.btn-entrar-sala:hover {
  background-color: #3e8f42; /* Cor verde mais escura ao passar o mouse */
}

/* Configurações para diferentes tamanhos de tela */

/* Configurações para telas de até 768px (Tablets e Celulares) */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-info {
    margin-top: 10px;
  }

  .profile-name {
    margin-left: 0;
  }

  header h1 {
    margin-top: 10px;
    position: static;
  }

  .search-friends {
    margin-top: 10px;
    right: 0;
    width: 100%;
    justify-content: center;
  }

  .add-friends {
    margin-top: 10px;
  }

  #lista-amigos {
    margin-top: 10px;
  }

  .search-friends {
    margin-left: 0;
  }

  .btn-remover-amigo {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .btn-entrar-sala {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .amigo img {
    width: 45px;
    height: 45px;
  }

  .amigos-online .amigo-info h3,
  .amigos-offline .amigo-info h3 {
    font-size: 17px;
  }

  .amigo-info p {
    font-size: 13px;
  }
}

/* Configurações para telas entre 769px e 1024px (Laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-info {
    margin-top: 10px;
  }

  .profile-name {
    margin-left: 0;
  }

  header h1 {
    margin-top: 10px;
    position: static;
  }

  .search-friends {
    margin-top: 10px;
    right: 0;
    width: 100%;
    justify-content: center;
  }

  .add-friends {
    margin-top: 10px;
  }

  #lista-amigos {
    margin-top: 10px;
  }

  .search-friends {
    margin-left: 0;
  }

  .btn-remover-amigo {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .btn-entrar-sala {
    position: static;
    width: 80px;
    margin-top: 10px;
  }

  .amigo img {
    width: 45px;
    height: 45px;
  }

  .amigos-online .amigo-info h3,
  .amigos-offline .amigo-info h3 {
    font-size: 17px;
  }

  .amigo-info p {
    font-size: 13px;
  }
}

/* Configurações para telas entre 1025px e 1280px (Desktops menores) */
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding: 10px;
  }

  .profile-name {
    font-size: 17px;
  }

  header h1 {
    font-size: 26px;
  }

  .search-friends {
    height: 28px;
    padding: 8px;
  }

  .search-txt {
    font-size: 11px;
  }

  .search-btn {
    width: 35px;
    height: 35px;
  }

  .btn-remover-amigo,
  .btn-entrar-sala {
    font-size: 17px;
    padding: 5px;
  }

  .amigo-info p {
    font-size: 11px;
  }

  .amigo-info p:nth-child(3),
  .amigo-info p:nth-child(4) {
    font-size: 11px;
  }

  .amigos-online .amigo-info h3,
  .amigos-offline .amigo-info h3 {
    font-size: 15px;
  }
}

/* Estilo para pagina pesquisa.html */

/* Estilo para titulo */
#adicionar-amigos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 30px;
}

/* Estilos para as imagens dos usuários */
#search-results img {
  width: 60px; /* Define a largura da imagem */
  height: 60px; /* Define a altura da imagem */
  border-radius: 50%; /* Cria uma borda arredondada */
  margin-right: 15px; /* Adiciona um espaçamento à direita das imagens */
  margin-top: 30px;
}

/* Estilos para o nome do usuário */
#search-results span {
  color: #333; /* Define a cor do texto */
  font-weight: bold; /* Define o peso da fonte como negrito */
  font-size: 32px; /* Define o tamanho da fonte */
  position: absolute;
  margin-top: 41px;
}

ul {
  list-style-type: none;
}

/* Estilos para o botão de adicionar */
.btn-add-friend {
  background-color: #09eb01; /* Define a cor de fundo do botão */
  color: #f0f0f0; /* Define a cor do texto do botão */
  border: none; /* Remove a borda do botão */
  padding: 5px 10px; /* Adiciona preenchimento interno ao botão */
  cursor: pointer; /* Altera o cursor ao passar sobre o botão */
  border-radius: 10px; /* Adiciona borda arredondada ao botão */
  right: 65%;
  position: absolute;
  margin-top: 44px;
  width: 300px;
  font-size: 18px;
}

/* Estilos para o botão de adicionar ao passar o mouse */
.btn-add-friend:hover {
  background-color: #09d601; /* Altera a cor de fundo ao passar o mouse */
}

/* Estilos para barra de pesquisa */
.search-users {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 5px;
  right: 40%;
  background-color: #0a1b2d;
  height: 30px;
  padding: 10px;
  border-radius: 40px;
  justify-content: space-between;
  width: 20%;
}

.search-txt2 {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px; /* Ajuste o padding conforme necessário */
  color: white;
  font-size: medium; /* Ajuste o tamanho da fonte conforme necessário */
  line-height: 40px;
  width: 80%; /* Ajuste a largura conforme necessário */
  font-family: "Open Sans";
}

/* Estilos para o h2 */
#users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  margin-top: 120px;
}

/* Estilos para nav bar*/
.navbar {
  background: linear-gradient(to right, rgb(241, 240, 240) 50%, lightgray 50%);
  padding: 10px 0;
  position: fixed;
  width: 35%;
  top: 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-list li {
  display: inline;
  margin: 0 104px;
}



.nav-list li a {
  text-decoration: none;
  color: rgb(58, 54, 54);
  font-weight: bold;
  font-size: 20px;
}


.content {
  margin-top: 60px; /* Para garantir que o conteúdo não fique escondido sob a navbar */
}

#amigos-img {
  width: 35px;
  height: 35px;
  display: flex;
  position: inherit;
  bottom: 95.6%;
  right: 95%;
}

#pedidos-img {
  width: 32px;
  height: 32px;
  display: flex;
  position: inherit;
  bottom: 96%;
  right: 80.2%;
}