@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B);

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Estilos para o cabecalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 18px;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header h1 {
  font-size: 28px;
  align-items: center;
  display: flex;
  position: absolute
  justify-content center;
  margin-right: 60px;
}

#selected-status {
  padding: 5px;
  font-size: 12px;
}

.online {
  color: green;
}

.ausente {
  color: orange;
}

.offline {
  color: red;
}

.status select {
  padding: 5px;
  border-radius: 5px;
}

/* Estilo para barra de pesquisa*/
.search-friends {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 5px;
  margin-left: 1650px;
  background-color: #0a1b2d;
  height: 30px;
  padding: 10px;
  border-radius: 40px;
  justify-content: space-between;
}
.search-friends:hover > .search-txt {
  width: 180px;
  padding: 0 6px;
  transition: 0.5s;
}

.search-friends:hover > .search-btn {
  background-color: white;
  transition: 0.5s;
}
.search-txt {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  color: white;
  font-size: 12px;
  line-height: 40px;
  width: 0;
  font-family: "Open Sans";
  font-size: medium;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a1b2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-friends img {
  width: 20px;
  height: 20px;
}

::-webkit-input-placeholder {
  color: #1e3754;
}

/* Estilo para botão de adicionar amigos */
.add-friends {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 255px;
}

#add-friends-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para a lista de amigos */

#lista-amigos {
  display: flex;
  flex-direction: column;
}
/* Online */
.amigos-online h2 {
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.contador  {
  margin-right: 1700px;
}

.amigo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.amigo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 30px;
}
.amigo-info {
  display: flex; /* Ativa o flexbox para o conteúdo das informações do amigo */
  flex-direction: column; /* Empilha as informações verticalmente */
  align-items: left;
}


/* Estilos para o nome dos amigos online */
.amigos-online .amigo-info h3{
  display: flex;
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 25px;
}
/* Estilos para o jogando */
.amigos-online .amigo-info-jogo p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para a sala */
.amigos-online .amigo-info-sala p{
 display: flex;
}

/* Estilos para o nome dos amigos offline */
.amigos-offline .amigo-info h3{
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 25px;
}


.amigo-info p{
  color: #666;
  padding-left: 5px;
}

.amigo-info p:nth-child(3) {
  /* Estilos para o jogo */
  font-size: 14px;
}

.amigo-info p:nth-child(4) {
  /* Estilos para o sala */
  font-size: 12px;
}

/* Oflline */
.amigos-offline h2 {
  position: relative;
  margin-top: 300px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

/* Estilo para o botão de remover amigo */
.btn-remover-amigo {
  align-items: center;
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  width: 120px;
  background-color: #ff0000;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  margin-left: 300px; 
}

.btn-remover-amigo:hover {
  background-color: #ca0c0c;
}

/* Estilo para o botão de entrar na sala */
.btn-entrar-sala {
  align-items: center;
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  width: 120px;
  background-color: #4caf50; /* Cor verde */
  border: none;
  padding: 5px;
  border-radius: 8px;
  margin-left: 2px; /* Espaçamento à direita */
  outline: none;
  cursor: pointer;
}

.btn-entrar-sala:hover {
  background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
}

/* Configuracao diferentes tamanhos de tela */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-info {
    margin-top: 10px;
  }

  .profile-name {
    margin-left: 0;
  }

  header h1 {
    margin-top: 10px;
  }

  .search-friends {
    margin-left: 0;
  }

  .add-friends {
    margin-top: 10px;
  }

  #lista-amigos {
    margin-top: 10px;
  }
  /* Estilo para barra de pesquisa*/
  .search-friends {
    margin-left: 200px;
  }
}
